@model List<Contoso.Models.Person>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>TotalDepartment: @ViewBag.PersonCount</h2>
<table class="table table-striped table-dark">
    <tr>
        <td>ID</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td>DateOfBirth</td>
    </tr>
    @foreach (var person in Model) // declare the model, Model would be the body
    {
        <tr>
            <td>@person.Id</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.DateOfBirth</td>
        </tr>
    }

</table>

