@model List<Contoso.Models.Course>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>TotalCourse: @ViewBag.CourseCount</h2>
<table class="table table-striped table-dark">
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Credits</td>
        <td>DepartmentId</td>
        <td>StartDate</td>
    </tr>
    @foreach (var course in Model) // declare the model, Model would be the body
    {
        <tr>
            <td>@course.Id</td>
            <td>@course.Title</td>
            <td>@course.Credits</td>
            <td>@course.DepartmentId</td>
            <td>@course.StartDate</td>
        </tr>
    }

</table>

